<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='FILM')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar(page='')"></header>
	<main class="background addForm">
		<form th:action="@{/deleteAttore}">
			<div><h2 class="form-line" th:text=#{title.deleteAttore}>ELIMINA ATTORE</h2></div>
			
			<div class="form-line">
				<label for="nome" th:text=#{form.nome}>Nome</label>
				<input id="nome" type="text" name="nome">
			</div>
			
			<div class="form-line">
				<label for="cognome" th:text=#{form.cognome}>Cognome</label>
				<input id="cognome" type="text" name="cognome">
			</div>

			<div class="form-line">
				<button type="submit" th:text=#{form.elimina}>Elimina</button>
			</div>
		
		</form>
		
	</main>
</body>
</html>