<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='FILM')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar(page='')"></header>
	<main class="background">
		<div class="lista-prodotti">
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
			<div class=prodotto></div>
		</div>
		
	</main>
</body>
</html>