<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='FILM')"></head>

<body>
	<header th:replace="fragments/base.html :: navbar(page='')"></header>
	<main class="background" th:object="${prodotto}">
		<h1 id="titolo-prodotto" th:text=*{titolo}></h1>
	
	
	
		<div id="page-prodotto" sec:authorize="!isAuthenticated() or hasAuthority('DEFAULT')">
			<div class="foto-container">	
				<img th:src=${prodotto.path}>
			</div>
				<div class="info-section">
				
					<div class="watch-button">
						<a th:href="@{/addWatchlist/{idProdotto} (idProdotto=${prodotto.id})}">Aggiungi alla watchlist</a>
					</div>
					<div class="white-box">
						
						<div class="info-line voto-line">
							<div>
								<span class="voto">Voto: </span>
								<span class="voto" th:text="|${votoMedio} &#11088;|"></span>
							</div>
							<form class="voto" th:action="@{/addVoto/{id} (id=${prodotto.id})}" method="POST">
								<span>Inserisci voto: </span>
								<input type="text" th:field="${voto.voto}">
								<button>Vota</button>
							</form>
						</div>
						
						<div class="info-line" th:if="${prodotto.regista}">
							<span>Regista: </span>
							<span th:text="|${prodotto.regista.nome} ${prodotto.regista.cognome}|"></span>
						</div>
						
						<div class="info-line">
							<span id="cast">Cast: </span>
							<span id="lista-cast">
								<div th:each = "a : ${prodotto.attori}" class="actor-line">
									<div id="nome-attore" th:text="|${a.nome} ${a.cognome}|"></div>
								</div>
							</span>
						</div>
						
						<div class="info-line">
							<span>Streaming: </span>
							<span id="lista-servizi">
								<div th:each = "s : ${prodotto.servizi}" class="servizio-img">
									<a th:href="${s.url}">
										<img th:src="${s.path}">
									</a>
									<div id="nome-servizio" th:text="${s.nome}"></div>
									
								</div>
							</span>
						</div>
						
					</div>
				</div>
		</div>
		
		
	
	
	
		
		<div id="page-prodotto" sec:authorize="hasAuthority('ADMIN')">
			<div class="foto-container">	
				<img th:src=${prodotto.path}>
			</div>
				<div class="info-section">
					<div class="watch-button">
						<a th:href="@{/addWatchlist/{idProdotto} (idProdotto=${prodotto.id})}">Aggiungi alla watch</a>
					</div>
					<div class="white-box">
						
						<div class="info-line voto-line">
							<div>
								<span class="voto">Voto: </span>
								<span class="voto" th:text="|${votoMedio} &#11088;|"></span>
							</div>
							<form class="voto" th:action="@{/addVoto/{id} (id=${prodotto.id})}" method="POST">
								<span>Inserisci voto: </span>
								<input type="text" th:field="${voto.voto}">
								<button>Vota</button>
							</form>
						</div>
						
						<div class="info-line" th:if="${prodotto.regista}">
							<span>Regista: </span>
							<span th:text="|${prodotto.regista.nome} ${prodotto.regista.cognome}|"></span>
						</div>
						
						<div class="info-line">
							<span id="cast">Cast: </span>
							<span id="lista-cast">
								<div th:each = "a : ${prodotto.attori}" class="actor-line">
									<div id="nome-attore" th:text="|${a.nome} ${a.cognome}|"></div>
									<div class="deleteBtn">
										<a th:href="@{/eliminaAttoreCast/{attoreID}/{prodottoID} (attoreID=${a.id},prodottoID=${prodotto.id})}">
											<div><i class="far fa-trash-alt"></i></div>
										</a>
									</div>
								</div>
							</span>
							<div class="add-attore"><a th:href="@{/addAttoreCast/{id} (id = ${prodotto.id})}">Aggiungi attore</a></div>
						</div>
						
						<div class="info-line">
							<span>Streaming: </span>
							<span id="lista-servizi">
								<div th:each = "s : ${prodotto.servizi}" class="servizio-img">
									<a th:href="${s.url}">
										<img th:src="${s.path}">
									</a>
									<div id="nome-servizio" th:text="${s.nome}"></div>
									
									<div class="deleteBtn">
										<a th:href="@{/eliminaServizioProdotto/{servizioID}/{prodottoID} (servizioID=${s.id},prodottoID=${prodotto.id})}">
											<div><i class="far fa-trash-alt"></i></div>
										</a>
									</div>
								</div>
							</span>
								<div class="add-attore"><a th:href="@{/addServizio/{id} (id = ${prodotto.id})}">Aggiungi Servizio</a></div>
						</div>
						
					</div>
					
					<div class="edit-btn"><a th:href="@{/modificaProdotto/{id} (id = ${prodotto.id})}">Modifica</a></div>
					<div class="edit-btn"><a th:href="@{/eliminaProdotto/{id} (id = ${prodotto.id})}">Elimina</a></div>
				</div>
		</div>
		
	</main>
</body>
</html>